.btn {
  background-color: orange;
  padding: 10px 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #ec9a5f;
  transform: scale(1.02);
  cursor: pointer;
}

.btn:focus,
.btn:focus-visible {
  outline: none;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: scale(1);
}
