.input {
  padding: 10px 14px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: all 0.15s ease-in-out;
}

.input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}
